{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    {% for blog in blogs %}
        <div class="row">
            <div class="col-md-2 col-sm-3 text-center">
                <a class="story-img" href="#">
                    <img src="{{MEDIA_URL}}avatars/{{blog.owner.username}}.jpg" class="img-circle" width='60px' height='60px'>
                </a>
                <p><span class="boldtext">Author:</span> {{blog.owner}}</p>
            </div>
            <div class="col-md-10 col-sm-9">
                <h3>{{ blog.title }}</h3>
                <div class="row">
                    <div class="col-xs-9">
                        <p>{{ blog.content|truncatewords:30 }}</p>
                        <p><a href="{% url 'post_detail' blog.id %}"  class="btn btn-default">Read more</a></p>
                        <img src="{{MEDIA_URL}}{{blog.image}}" width="200px"></img>
                        <p><span class="boldtext">Published on:</span> {{ blog.published_date }} </p>
                        <p><span class="boldtext">Views:</span> {{blog.views}}</p>
                        <p><span class="boldtext">Tag:</span> #{{ blog.tag }}</p>
                         <p><span class="boldtext">Likes:</span> {{blog.likes.all | length}}</p>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {% endfor %}
    {% endblock content %}